@layer reset{
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    list-style: none;
    outline: none;
}
}


/* ROOT */

:root{
    --cor-principal: #0077B5;
    --cor-secundaria: #50adde;
    --cor-destaque: #012437;
    --branco: #FFFFFF;
    --fonte-principal:  "Rubik", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

body{
    font-family: var(--fonte-principal);
}

p{
    padding: 10px;
}

hr {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 5px;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 10px;
    text-align: center;
   
}

.cor-principal{
    color: var(--cor-principal);
}

.cor-secundaria{
    color: var(--cor-secundaria);
}


.cor-destaque{
    color: var(--cor-destaque);
}

.cor-branca{
    color: var(--branco);
}


@layer animacoes{
    @keyframes blink {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .fa-blink {
        animation: blink 800ms linear infinite;
     }
}

@layer desktop{

    .container{
        margin: 0 auto;
        width: 80%;
    }

    @layer sobre{
        .sobre{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .foto{
            width: 35%;
            padding: 20px;
        }

        .foto img{
            border-radius: 25px;
        }

        .sobre-lucas{
            width: 65%;
            background-color:var(--cor-principal);
            color: var(--branco);
            word-wrap: break-word;
            padding: 50px;
            border-radius: 25px;
        }

        .sobre-lucas li{
            margin-top: 10px;
        }
    }

    @layer galeria{
        .galeria{
            background-color: var(--cor-secundaria);
            padding: 50px;
            margin-bottom: 50px;
            border-radius: 25px;
        }

        .galeria hr {
            background-color: var(--branco) !important;
        }

        .grid-container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            width: 100%;
            max-width: 1200px;
            margin-top: 25px;
            box-sizing: border-box;
        }
        
        .grid-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            overflow: hidden;
        }
        
        .grid-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .legenda{
            align-items: center;
            width: 100%;
        }
    }
    }

    @layer musica-video{
        .musica-video{
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .video{
            width: 75%;
        }
    }

    @layer footer{
        .rodape{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 75px;
            background-color: var(--cor-principal);
            color: var(--branco);
            font-weight: bold;
        }
    }


@layer mobile{

}

@layer player{
    button{
        color: #FFF;
        border: none;
        background-color: inherit;
    }
    
    .button-active{
        color: rgb(10, 255, 2);
    }
    
    .container-player{
        width: 20%;
        color: #FFF;
    }

    /*Img do Album*/
    
    .cover{
        text-align: center;
        margin: 15px;
    }
    
    .cover img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    
    .infos-banda{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .infos-banda{
        margin-bottom: 15px;
    }
    
    .song-name{
        font-size: 1.5em;
    }
    
    .song-banda{
        font-family: var(--font-body);
        font-size: 0.75em;
    }
    
    .progress-music{
        padding-top: 25px;
        padding-bottom: 25px;
        cursor: pointer;
        margin-bottom: 0;
    }
        
    .progress-bar{
        background-color: #707070;
        width: 100%;
        height:3px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }
    
    .progresso-atual{
        background-color: #ffffff;
        width: var(--progress-bar);
        height: 3px;
        margin-top: 25px; /* Mantenha a margem superior se desejar */
        margin-bottom: 25px; /* Mantenha a margem inferior se desejar */
        border-radius: 15px;
    }
    
    
    
    .player{
        width: 350px;
        /* margin:0 auto; */
        padding: 25px;
        background-color: #020617;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1),
        0px 3px 3px rgba(0, 0, 0, 0.1),
        0px 5px 5px rgba(0, 0, 0, 0.1),
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 13px 13px rgba(0, 0, 0, 0.1);
    }
    
    .controls{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    
    .bi-skip-start-fill, .bi-skip-end-fill, .bi-play-circle-fill, .bi-pause-circle-fill {
        font-size: 48px;
        cursor: pointer;
    }
    
    .bi-shuffle, .bi-arrow-repeat {
        font-size: 22px;
        cursor: pointer;
    }
}