@layer reset{
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    list-style: none;
    outline: none;
}
}


/* ROOT */

:root{
    --cor-principal: #0077B5;
    --cor-secundaria: #50adde;
    --cor-destaque: #012437;
    --branco: #FFFFFF;
    --fonte-principal:  "Rubik", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

body{
    font-family: var(--fonte-principal);
}

p{
    padding: 10px;
}

hr {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 5px;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 10px;
    text-align: center;
   
}

.cor-principal{
    color: var(--cor-principal);
}

.cor-secundaria{
    color: var(--cor-secundaria);
}


.cor-destaque{
    color: var(--cor-destaque);
}

.cor-branca{
    color: var(--branco);
}


@layer animacoes{
    @keyframes blink {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .fa-blink {
        animation: blink 800ms linear infinite;
     }
}

@layer desktop{

    .container{
        margin: 0 auto;
        width: 80%;
    }

    @layer sobre{
        .sobre{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .foto{
            width: 35%;
            padding: 20px;
        }

        .foto img{
            border-radius: 25px;
        }

        .sobre-lucas{
            width: 65%;
            background-color:var(--cor-principal);
            color: var(--branco);
            word-wrap: break-word;
            padding: 50px;
            border-radius: 25px;
        }

        .sobre-lucas li{
            margin-top: 10px;
        }
    }

    @layer galeria{
        .galeria{
            background-color: var(--cor-secundaria);
            padding: 50px;
            margin-bottom: 50px;
            border-radius: 25px;
        }

        .galeria hr {
            background-color: var(--branco) !important;
        }

        .grid-container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            width: 100%;
            max-width: 1200px;
            margin-top: 25px;
            box-sizing: border-box;
        }
        
        .grid-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            overflow: hidden;
        }
        
        .grid-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    }

    @layer musica-video{
        .musica-video{
            display: flex;
            justify-content: center;
            text-align: center;
        }

    }

    @layer video{
        .video{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    @layer footer{
        .rodape{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 75px;
            background-color: var(--cor-principal);
            color: var(--branco);
            font-weight: bold;
        }
    }


@layer mobile{

}

@layer player{
    button{
        color: #FFF;
        border: none;
        background-color: inherit;
    }
    
    .button-active{
        color: rgb(10, 255, 2);
    }
    
    .container-player{
        width: 20%;
        color: #FFF;
    }

    /*Img do Album*/
    
    .cover{
        text-align: center;
        margin: 15px;
    }
    
    .cover img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    
    .infos-banda{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .infos-banda{
        margin-bottom: 15px;
    }
    
    .song-name{
        font-size: 1.5em;
    }
    
    .song-banda{
        font-family: var(--font-body);
        font-size: 0.75em;
    }
    
    .progress-music{
        padding-top: 25px;
        padding-bottom: 25px;
        cursor: pointer;
        margin-bottom: 0;
    }
        
    .progress-bar{
        background-color: #707070;
        width: 100%;
        height:3px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }
    
    .progresso-atual{
        background-color: #ffffff;
        width: var(--progress-bar);
        height: 3px;
        margin-top: 25px; /* Mantenha a margem superior se desejar */
        margin-bottom: 25px; /* Mantenha a margem inferior se desejar */
        border-radius: 15px;
    }
    
    
    
    .player{
        width: 350px;
        /* margin:0 auto; */
        padding: 25px;
        background-color: #020617;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1),
        0px 3px 3px rgba(0, 0, 0, 0.1),
        0px 5px 5px rgba(0, 0, 0, 0.1),
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 13px 13px rgba(0, 0, 0, 0.1);
    }
    
    .controls{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    
    .bi-skip-start-fill, .bi-skip-end-fill, .bi-play-circle-fill, .bi-pause-circle-fill {
        font-size: 48px;
        cursor: pointer;
    }
    
    .bi-shuffle, .bi-arrow-repeat {
        font-size: 22px;
        cursor: pointer;
    }
}


@layer bot{
    @keyframes fade {
        from {
            opacity: 0.8;
            -webkit-transform: translate3d(0, 25%, 0);
            transform: translate3d(0, 25%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .fade-animation{
        animation: fade 800ms;
    }


    @layer chat-widget{

        .chat-widget{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #082949;
            cursor: pointer;
            position: fixed;
            bottom: 25px;
            right: 25px;
            z-index: 5;
        }


        .chat-widget svg{
            color: #FFF;
        }

       

        

       

    }

    .titulo-bot{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nome-bot{
        font-size: 1.2em;
        font-weight: bold;
    }

    .titulo-bot svg{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

   

    .digitando{
        width: 100%;
        height: 15px;
    }

    #loading{
        display: none;
        height: 15px;
        justify-content: center;
        align-items: center;
    }




    .chat-box {
        display: none;
        flex-direction: column;
        width: 275px;
        position: fixed;
        bottom: 25px;
        right: 25px;
        box-shadow: 0px 0px 0px rgba(58, 0, 77, 0.12),
                    6px 6px 20px rgba(58, 0, 77, 0.12);

    }

    .chat {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 0 15px 10px 15px;
        width: 250px;
        min-height: 300px;
        background-color: #e0effe;
        border-radius: 0 0 10px 10px;
    }

    .balao{
        width: 100% ;
    }

    .conversa {
        width: 100%;
        height: 200px;
        background-color: #f0f8ff;
        margin-top: 15px;
        overflow-y: auto;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing:border-box;
    }

    .contatos{
        font-size: 0.92em;
    }

    .contatos a{
        text-decoration: none;
    }

    .conversa::-webkit-scrollbar {
        width: 6px;
        /* Largura da barra de rolagem para navegadores WebKit */
    }

    .conversa::-webkit-scrollbar-thumb {
        background-color: #999999;
        /* Cor da barra de rolagem (thumb) */
        border-radius: 10px;
        /* Raio da borda da barra de rolagem (thumb) */
    }

    .conversa::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        /* Cor do fundo da barra de rolagem (track) */
        border-radius: 10px;
        /* Raio da borda do fundo da barra de rolagem (track) */
    }

    .humano {
        background-color: #c5ff91;
        border-radius: 10px 10px 10px 0;
        font-size: 0.8em;
        padding: 10px;
        margin-bottom: 5px;
        font-weight: 600;
        max-width: 85%;
        float: left;
        text-align: left;
        line-height: 1.3em;
        letter-spacing: 0.10px;
        word-wrap: break-word;
        animation: fade 500ms;
    }

    .bot {
        background-color: #bae0fd;
        border-radius: 10px 10px 0 10px;
        font-size: 0.8em;
        padding: 15px 10px 15px 10px;
        margin-bottom: 5px;
        font-weight: 600;
        line-height: 1.3em;
        max-width: 85%;
        float: right;
        text-align: left;
        letter-spacing: 0.5px;
        word-break: hyphen-wrap;
        hyphens:auto;
        animation: fade 500ms;




    }

    .form-chat {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    input[type="text"] {
        width: 175px;
        height: 15;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid #bae0fd;
        outline: none;
    }

    input::placeholder {
        color: #0000005e;
        font-size: 0.8em;
        text-align: center;
    }

    input[type=text]:focus {
        border: 3px solid #3d94e1;
        caret-color: #3d94e1;
        caret: 25px;
    }

    .blue {
        color: rgb(7, 81, 179);
        cursor: pointer;
    }

    button {
        border: none;
        background-color: #00000000;
    }

    .chat-header {
        background-color: #0c416e;
        width: 250px;
        margin-top: 0;
        color: #bae0fd;
        font-size: 0.9em;
        border-radius: 10px 10px 0 0;
        padding: 15px;
}
}